.container-fluid.news-container
  .col-xs-6
    %h4.pull-left
      All news list
    = link_to "new news item", new_news_path, remote: true, class: ('btn btn-warning pull-right')
    .clearfix
    = render ('allNews')
  .col-xs-6
    .crud-container
