.container-fluid.news-container
  .row
    .col-xs-12
      %h4.pull
        All news
        .btn-group
          %button{"type" => "button", "class" => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown"}
            Sort by
            %span.caretT
          %ul.dropdown-menu{"role" => "menu"}
            - @categories.each do |category|
              %li
                = link_to category.title, new_news_item_path, remote: true

        = link_to "new news item", new_news_item_path, remote: true, class: ('btn btn-warning pull-')
      .clearfix
  .row
    .col-xs-6
      = render ('allNews')
    .col-xs-6
      .crud-container
