%div.logo
  %img{src: "/images/rotary-logo.png"}
  %h3.tagline
    Rotary Club Lviv-Center
  %div.clear
%div.login-field
  %p
    %span
      Sign In
    %span
      Register
%section.container
  %div.content#scene
    %div.left
      %div.item#news
        %span
          rotary
        %p
          news
      %div.item#projects
        %p
          projects
        %span
          &general info
      %div.item#photos
    %div.right
      %div.items
        %div.item#about
          %p
            about rotary
      %div.item#members
        %p
          rotary members
      %div.item#events
        %p.header
          events
        %div.events
          %p
            upcomming event:
          %div.event-body
            %p.title
              Meeting Danish guests and some more
            %p.place
              Cytadel Inn Some str 5
      %div.item#contacts
        %img{src: "/images/icons/envelope.png"}
        %p
          contacts
%section.popup
  %div
    %div.closeBtn
    %h1
      Some dummy text
    %h2
      Some dummy subheader
    %p
      Mumblecore organic dreamcatcher kale chips jean shorts Shoreditch 8-bit PBR&B. Truffaut lomo butcher, lo-fi fixie narwhal plaid semiotics wolf listicle vinyl cold-pressed cliche Vice. Cardigan kale chips 3 wolf moon flexitarian, raw denim VHS tousled Blue Bottle scenester. Synth PBR&B selvage, hoodie craft beer fanny pack actually squid ugh Kickstarter swag. Schlitz hoodie wayfarers crucifix PBR pork belly. Umami aesthetic pork belly YOLO taxidermy Blue Bottle post-ironic viral, stumptown Williamsburg fap chillwave biodiesel pug. Kitsch authentic forage asymmetrical Kickstarter, craft beer church-key aesthetic ugh iPhone cardigan selfies whatever meh.
%div.fadeout