%section.popup{"ng-href" => "/"}
  .news-item-container
    .image
    .text-container
      %h1
        Some dummy header about don`t know what and about whome
    .utilities
      %span
        meeting
      %span
        25.11.2015
    %p
      Thundercats irony Pinterest art party, fap chia small batch sartorial paleo iPhone Pitchfork photo booth asymmetrical cardigan. Four loko street art Carles umami, deep v pug whatever drinking vinegar..</p>
  .clear

%a.fadeout{"ng-href" => "/"}