%section.popup{"ng-href" => "/"}
  .news-item-container{"ng-repeat" => "newsItem in news"}
    .image
    %a.text-container{"ng-href" => "#/news/{{ newsItem.id }} "}
      %h1
        {{ newsItem.title | limitTo: 38 }}..
      .utilities
        %span{"ng-show" => "newsItem.category"}
          {{ newsItem.category.title }},
        %span
          {{ newsItem.created_at | date: fullDate }}
      %p
        {{ newsItem.body | limitTo: 230}}..
  .clear

%a.fadeout{"ng-href" => "#/"}