%section.popup
  .news-item-page
    .image
      %img(src="{{print.image}}")
      %h3
        {{print.title}}

    .text-container{"id" => "bind-html-with-trust"}
      %hr
      %p.date
        {{ print.date | date: fullDate }}
      %p{"ng-bind-html" => "deliberatelyTrustDangerousSnippet()"}
        -#{{print.body}}
      %hr
%a.fadeout{"ng-href" => "#/news_items"}