%section.popup{"ng-href" => "/"}
  .news-item-container{"ng-repeat" => "newsItem in news"}
    .image
    .text-container
      %h1
        {{ newsItem.title | limitTo: 40 }}..
      .utilities
        %span{"ng-show" => "newsItem.category_id"}
          {{ newsItem.category_id }}
        %span
          {{ newsItem.created_at | date: fullDate }}
      %p
        {{ newsItem.body | limitTo: 230}}..
  .clear

%a.fadeout{"ng-href" => "#/"}