@import "bootstrap-sprockets";
@import "bootstrap";

@import "home";
@import "news-list";
@import "news_items";
@import "news_page";
@import "responsive";
@import "adminpage";

a{
  color: blue;
}
a:hover{
  text-decoration: none;
}