.popup{
  background-color: rgb(233, 234, 237);
  padding: 10px;
  z-index: 999;
  width: 60%;
  height: 90vh;
  overflow-y: scroll;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  position: absolute;
  top: 20px;
  left: 20%;
}
.news-item-container{
  margin: 0.5em auto;
  width: 90%;
  padding: 5px;
  background-color: white;
  box-shadow: 1px 1px 15px rgba(40,40,40,0.1)
}
.news-item-container:hover{
  box-shadow: 1px 1px 15px rgba(40,40,40,0.5)
}
.news-item-container .image{
  height: 160px;
  width: 160px;
  background-color: white;
  border: 2px solid #E6E6E6;
  margin-right: 0.5em;
  float: left;
  margin-top: 4px;
  margin-left: 4px;
}
.text-container{
  padding-right: 1em;
}
.text-container h1{
  line-height: 1em;
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
}
.text-container p{
  font-size: 0.8em;
  width: 100%;
  color: grey;
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
}
.utilities{
  background-color: rgba(0,14,27,0.8);
  height: 1.6em;
  margin: 0.5em 0;
  padding: 0 5px;
  display: inline-block;
}
.utilities span{
  font-size: 0.6em;
  color: white;
  letter-spacing: 1px;
  margin: 0 5px;
}
.fadeout{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,14,27,0.8);
  z-index: -1;
}


