
/* Extra Small Devices, Phones */
@media screen and (max-width: 550px), screen and (max-height: 650px) {
  body{
    font-size: 14px;
    /*overflow: hidden;*/
  }
  .logo{
    width: 360px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .logo img{
    height: auto;
    width: 50px;
    margin-left: 0 !important;
    float: left;
  }
  .logo h3{
    font-size: 1.5em !important;
    margin-top: 0.6em;
    float: right;
  }
  #scene{
    width: 100%;
    padding: 0.2em;
    margin: 0 0 2em 0;
  }
  #scene .item{
    height: 17vh;
    width: 100%;
    margin: 10px;
  }
  #scene .left, #scene .right{
    /*float: none;*/
    /*width: 100%;*/
  }
  #scene #contacts{
    /*height: 150px;*/
    width: 80px;
    height: auto;
  }
  .img{
    background-image: none;
  }
  .popup{
    width: 90vw;
    left: 5vw;
    /*height: 100vh;*/
    top: 0;
    margin: 10px auto;
  }
}

@media only screen and (max-height: 768px) {

}

/* Small Devices, Tablets */
@media (min-width: 550px) and (max-height: 820px) {
  .logo img{
    height: auto;
    width: 50px;
    margin-left: 145px;
  }
  .logo h3{
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .content{
    margin-top: 0px;
  }
  .item{
    max-height: 150px;
  }
  #news{
    height: 160px;
    width: 210px;
  }
  #news span{
    font-size: 1.7em;
  }
  #news p{
    font-size: 3.9em;
  }
  #projects{
    height: 180px;
    width: 300px;
  }
  #photos{
    height: 170px;
    width: 170px;
  }
  #about{
    height: 150px;
    width: 150px;
  }
  #about p{
    font-size: 0.8em;
    left: -1px;
  }
  #members{
    height: 110px;
    width: 110px;
    margin-top: 45px;
  }
  #events{
    height: 170px;
    width: 260px;
  }
  #contacts{
    /*height: 150px;*/
    width: 120px;
  }
}

